<h1>{{ title }}</h1>
  <form action="">
    <label style="font-weight: 500; font-family: 'Roboto', sans-serif;">Número 1:</label>
    <input class="btn-input" type="number" [(ngModel)]="Numero_1" name = "numero_1"><br> <!--Banana in box [(ngModel)]-->
    <label style="font-weight: 500; font-family: 'Roboto', sans-serif;">Número 2:</label>
    <input class="btn-input" type="number" [(ngModel)]="Numero_2" name = "numero_2"><br><br>
    <input class="btn-button" type="submit" value="Sumar" (click)="Sumar()">
    <input class="btn-button" type="submit" value="Restar" (click)="Restar()"><br>
    <input class="btn-button" type="submit" value="Multiplicar" (click)="Multiplicacion()">
    <input class="btn-button" type="submit" value="Dividir" (click)="Division()"><br>
    <input class="btn-button" type="reset">
  </form>
  <h4>Resultado = {{ Resultado }}</h4>


