<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .label {
      color: white;
      padding: 8px;
      font-family: Arial;
      font-weight: bold;
      padding-left: 15px;
    }

    input{
      text-decoration: none;
      padding: 3px;
      color: black;
      font-weight: bold;
      font-size: medium;
      
    }

    .success {background-color: #04AA6D;} /* Green */
    .info {background-color: #2196F3;} /* Blue */ 
    </style>
</head>
<body>
  <h1>Aplicación: {{ title }}</h1>

  <form action="">
    <label for="fname">Número 1:</label><br>
    <input type="text" [(ngModel)] = "Numero_1" name = "Numero1"><br> //Banana in box
    <label for="lname">Número 2:</label><br>
    <input type="text" [(ngModel)] = "Numero_2" name = "Numero2"><br><br>
    <input type="submit" value="Submit" onclick="Sumar()">
    <input type="reset">
  </form>
  <h4>Resultado = {{ Resultado }}</h4>
</body>
</html>


